svg.railroad-diagram path {
	fill: none;
	stroke: black;
	stroke-width: 2;
}
svg.railroad-diagram text {
	font: sans-serif 14px monospace;
	text-anchor: middle;
}
svg.railroad-diagram text.label {
	text-anchor: start;
}
svg.railroad-diagram text.comment {
	font: italic 12px monospace;
}
svg.railroad-diagram rect {
	fill: #eee;
	stroke: black;
	stroke-width: 2;
}
textarea {
	width: 100%;
}
.actions > * {
	margin-left: .5em;
}
.actions > *:first-child {
	margin-left: 0;
}
.chosen {
	font-weight: bold;
}
.container {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	max-width: unset;
}
.highlight-tab::after {
	background-color: #ddd;
	border-radius: 5px;
	content: 'Tab';
	margin: 0 .5em;
	padding: 0 .75em;
	text-transform: uppercase;
}
.modal-dialog {
	max-width: 85%;
}
.pmargin-fix div > p:last-child {
	margin-bottom: 0;
}
.progress * {
	flex: 1;
}
.progress .status-disambiguation {
	background-color: #0D47A1;
}
.progress.progress-grouped .status-disambiguation {
	order: 2;
}
.progress .status-failed {
	background-color: #B71C1C;
}
.progress.progress-grouped .status-failed {
	order: 4;
}
.progress .status-filtering {
	background-color: #006064;
}
.progress.progress-grouped .status-filtering {
	order: 6;
}
.progress .status-no-results {
	background-color: #FF6F00;
}
.progress.progress-grouped .status-no-results {
	order: 3;
}
.progress .status-pending {
	background-color: #212121;
}
.progress.progress-grouped .status-pending {
	order: 8;
}
.progress .status-removed {
	background-color: #AA00FF;
}
.progress.progress-grouped .status-removed {
	order: 5;
}
.progress .status-success {
	background-color: #1B5E20;
}
.progress.progress-grouped .status-success {
	order: 1;
}
.progress .status-working {
	background-color: #006064;
}
.progress.progress-grouped .status-working {
	order: 7;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.status {
	border: 1px solid;
	border-radius: 5px;
	font-size: .8em;
	padding: 0 .4em;
	text-transform: uppercase;
	white-space: nowrap;
}
.option-status {
	border: 1px solid;
	border-radius: 5px;
	padding: 0 .4em;
	white-space: nowrap;
}
.option-status-disambiguation,
.status-disambiguation .status {
	color: #0D47A1;
	background-color: #E3F2FD;
	border-color: #0D47A1;
}
.option-status-failed,
.status-failed .status {
	color: #B71C1C;
	background-color: #FFEBEE;
	border-color: #B71C1C;
}
.option-status-filtering, .option-working,
.status-filtering .status, .status-working .status {
	color: #006064;
	background-color: #E0F7FA;
	border-color: #006064;
}
.option-status-no-results,
.status-no-results .status {
	color: #FF6F00;
	background-color: #FFF8E1;
	border-color: #FF6F00;
}
.option-status-pending,
.status-pending .status {
	color: #212121;
	background-color: #FAFAFA;
	border-color: #212121;
}
.option-status-removed,
.status-removed .status {
	color: #AA00FF;
	background-color: #F8EBFF;
	border-color: #AA00FF;
}
.option-status-success,
.status-success .status {
	color: #1B5E20;
	background-color: #E8F5E9;
	border-color: #1B5E20;
}
html.stickyfooter {
	height: 100%;
}
.stickyfooter body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.stickyfooter main {
	flex: 1;
}
.table tbody {
	border-top: none !important;
}
.table td, .table th {
	padding: .3rem;
}
.table-syntax * {
	vertical-align: top;
}
.table-syntax .underline_row {
	font-size: .9em;
}
.table-syntax .underline_row > td:not(:empty) {
	border-top: solid thin var(--bs-blue);
}
.table-tbody-striped > tbody:nth-of-type(odd) > * {
	--bs-table-accent-bg: var(--bs-table-striped-bg);
	color: var(--bs-table-striped-color);
}
.table-tbody-hover > tbody:hover > * {
	--bs-table-accent-bg: var(--bs-table-hover-bg);
	color:var(--bs-table-hover-color);
}
.tooltipster-sidetip.tooltipster-error.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: #FFEBEE !important;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: #B71C1C !important;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #FFEBEE !important;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow-border {
	border-left-color: #B71C1C !important;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow-background {
	border-right-color: #FFEBEE !important;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow-border {
	border-right-color: #B71C1C !important;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-top .tooltipster-arrow-background {
	border-top-color: #FFEBEE !important;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-top .tooltipster-arrow-border {
	border-top-color: #B71C1C !important;
}
.tooltipster-sidetip.tooltipster-error .tooltipster-box {
	background-color: #FFEBEE !important;
	border-color: #B71C1C !important;
}
.tooltipster-sidetip.tooltipster-error .tooltipster-content {
	color: #B71C1C !important;
}
.tooltipster-sidetip.tooltipster-success.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: #E8F5E9 !important;
}
.tooltipster-sidetip.tooltipster-success.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: #1B5E20 !important;
}
.tooltipster-sidetip.tooltipster-success.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #E8F5E9 !important;
}
.tooltipster-sidetip.tooltipster-success.tooltipster-left .tooltipster-arrow-border {
	border-left-color: #1B5E20 !important;
}
.tooltipster-sidetip.tooltipster-success.tooltipster-right .tooltipster-arrow-background {
	border-right-color: #E8F5E9 !important;
}
.tooltipster-sidetip.tooltipster-success.tooltipster-right .tooltipster-arrow-border {
	border-right-color: #1B5E20 !important;
}
.tooltipster-sidetip.tooltipster-success.tooltipster-top .tooltipster-arrow-background {
	border-top-color: #E8F5E9 !important;
}
.tooltipster-sidetip.tooltipster-success.tooltipster-top .tooltipster-arrow-border {
	border-top-color: #1B5E20 !important;
}
.tooltipster-sidetip.tooltipster-success .tooltipster-box {
	background-color: #E8F5E9 !important;
	border-color: #1B5E20 !important;
}
.tooltipster-sidetip.tooltipster-success .tooltipster-content {
	color: #1B5E20 !important;
}
#help_sampletable {
	overflow-x: scroll;
	text-align: center;
	white-space: nowrap;
}
#table-output span.mode-selected {
	font-style: italic;
}
#table-output span.mode-selected a {
	font-weight: bold;
}
