<div class="modal fade" id="modal-settings" tabindex="-1" role="dialog" aria-labelledby="modal-settings-label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-settings-label">Advanced Settings</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<table class="table" role="grid">
					<tbody>
						<tr>
							<th scope="row"><label for="setting-searchLanguage">Search language</label></th>
							<td>
								<input id="setting-searchLanguage" class="form-control custom-select" type="text" list="languages" v-model="settings.searchLanguage" />
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="setting-itemDescriptionLanguage">Item description language</label></th>
							<td>
								<input id="setting-itemDescriptionLanguage" class="form-control custom-select" type="text" list="languages" v-model="settings.itemDescriptionLanguage" />
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="setting-disambiguationCandidatesNumber">Number of disambiguation candidates</label></th>
							<td>
								<input id="setting-disambiguationCandidatesNumber" class="form-control" type="number" min="1" max="50" v-model="settings.disambiguationCandidatesNumber" />
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="setting-maximumConcurrentRequests">Maximum number of concurrent requests to Wikidata</label></th>
							<td>
								<input id="setting-maximumConcurrentRequests" class="form-control" type="number" min="1" max="10" v-model="settings.maximumConcurrentRequests" />
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="setting-followRedirects">Follow redirects</label></th>
							<td>
								<input id="setting-followRedirects" class="form-check-input" type="checkbox" v-model="settings.followRedirects" />
							</td>
						</tr>
					</tbody>
				</table>

				<h5 class="mt-5">User interface</h5>
				<table class="table" role="grid">
					<tbody>
						<tr>
							<th scope="row"><label for="setting-displayCommandLine">Display command line for tuples</label></th>
							<td>
								<input id="setting-displayCommandLine" class="form-check-input" type="checkbox" v-model="settings.displayCommandLine" />
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="setting-groupProgressbarStatus">Group statuses in progressbar</label></th>
							<td>
								<input id="setting-groupProgressbarStatus" class="form-check-input" type="checkbox" v-model="settings.groupProgressbarStatus" />
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="setting-filterProgressbar">Filter status in progressbar too</label></th>
							<td>
								<input id="setting-filterProgressbar" class="form-check-input" type="checkbox" v-model="settings.filterProgressbar" />
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="setting-renameKeepAsNote">When editing the search query, keep previous one as note</label></th>
							<td>
								<input id="setting-renameKeepAsNote" class="form-check-input" type="checkbox" v-model="settings.renameKeepAsNote" />
							</td>
						</tr>
						<tr>
							<th scope="row"><label for="setting-splitParseResolve">Make parsing and resolving two separate steps</label></th>
							<td>
								<input id="setting-splitParseResolve" class="form-check-input" type="checkbox" v-model="settings.splitParseResolve" />
							</td>
						</tr>
					</tbody>
				</table>
				<datalist id="languages">
					<option v-bind:value="language" v-for="language in languages">{{language}}</option>
				</datalist>
			</div>
			<div class="modal-footer">
				<div class="btn-group" role="group">
					<a id="button-settings-geturl" href="#" class="btn btn-secondary" v-on:click.prevent="settingsRedirect">Get URL</a>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
